# See https://help.github.com/articles/ignoring-files/ for more

# ==============================================================================
# Editors - PyCharm/VSCode
# ==============================================================================
.idea/
.vscode/

# ==============================================================================
# Virtualenv & pycache
# ==============================================================================
venv/
__pycache__/

# ==============================================================================
# START OF USER EDITABLE IGNORES
# ==============================================================================

